---
import Layout from '../layouts/Layout.astro';
import Github from '../icons/github.astro';

import '../styles/styles.css';

import github from '../icons/github.svg';
import linkedin from '../icons/linkedin.svg';
import dots from '../icons/dots.svg';
import Container from '../components/Container.astro';
import Header from '../components/Header.astro';
import Link from '../components/Link.astro';

const links = [
  {
    component: Github,
    icon: github,
    title: 'Github',
    href: 'https://github.com/agustinm',
  },
  {
    component: Github,
    icon: linkedin,
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/agustinm',
  },
];
---

<Layout title='Linktree Agustin Morales'>
  <Container>
    <Header />
    <main class='w-full'>
      <Link />
    </main>
  </Container>
</Layout>
