---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import '../styles/styles.css';

import avatar from '../images/avatar.webp';
---

<Layout title='Linktree Agustin Morales'>
  <main class='grid justify-center'>
    <Image class='h-24 w-24 rounded-full' src={avatar} alt='Avatar' />

    <h1 class='text-center font-bold text-white'>Agustin Morales</h1>
  </main>
</Layout>
